body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    color: #333; /* Dark text for better contrast */
    padding: 10px 0;
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for elevation */
    margin: 10px auto; /* Center the header */
    width: 80%; /* Optional: Width of the container */
}
#category-select {
    margin: 10px;
    padding: 5px;
}
#fetch-music {
    padding: 5px 10px;
    cursor: pointer;
}
#music-list {
    margin: 20px;
    padding: 10px;
}
.music-item {
    margin: 10px 0;
}
audio {
    margin-top: 10px;
}
/* Default Background */
body {
    background: #f0f8ff;
    background-size: cover;
    transition: background 0.5s ease-in-out;
}

/* Backgrounds for each category */
body.calm-music {
    background: linear-gradient(to bottom, #8e44ad, #3498db);
}

body.white-noise {
    background: url('white.jpeg') no-repeat center center fixed;
    background-size: cover;
}

body.ocean-sounds {
    background: url('ocean.jpeg') no-repeat center center fixed;
    background-size: cover;
}

body.forest {
    background: url('forest.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.country-garden {
    background: url('countrygarden.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.thunderstorm {
    background: url('thunderstorm.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.rainforest {
    background: url('rainforest.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.rain-sounds {
    background: url('rain.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.relaxing-music {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

body.meditation-music {
    background: linear-gradient(to bottom, #1d4350, #a43931);
}

body.beach {
    background: url('beach.jpeg') no-repeat center center fixed;
    background-size: cover;
}

body.waterfalls {
    background: url('waterfalls.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.wind {
    background: url('wind.jpg') no-repeat center center fixed;
    background-size: cover;
}
